{% extends "base.html" %}

{% block title %}
Home Page - Task TODO
{% endblock title %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static "taskManagerApp/css/style.css" %}">

{% include "message.html" %}
{% include "non_field_error.html" %}

<div class="container">
    <div class="todo-app">
        <div class="app-title">
            <h2>To-do app</h2>
            <i class="fa-solid fa-book-bookmark"></i>
        </div>
        <form action="" method="post">
            {% csrf_token %}
        <div class="row">
            <input type="text" id="input-box" name="title" placeholder="add your tasks" required>
            <button type="submit">Add</button>
        </div>
    </form>
    <ul id="list-container">
            {% for item in items %}
        <div class="main_list">
                <input class="checkbox" type="checkbox" name="" id="checkbox{{ item.id }}">
                <label for="checkbox{{ item.id }}">{{ item.title }}</label>
            <div class="icon_for_state">
                <a href="{% url 'update_item' id=item.id slug=item.slug %}" class="fa-solid fa-pen-to-square fa-xl"></a>
                <a href="{% url 'delete_item' id=item.id slug=item.slug %}" class="fa-solid fa-trash fa-xl"></a>
            </div>
        </div>
        {% endfor %}
    </ul>
    </div>
</div>

        <script src="{% static "taskManagerApp/js/script.js" %}"></script>
        {% endblock content %}